xampp/htdocs/14-598/info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="userinfo">
<xs:complexType>
<xs:sequence>
 <xs:element name="uid" type="xs:string"/>
 <xs:element name="fname" type="xs:string"/>
 <xs:element name="lname" type="xs:string"/>
 <xs:element name="phno" type="xs:string"/>
 <xs:element name="mail" type="xs:string"/>
 <xs:element name="fno" type="xs:string"/>
 <xs:element name="street" type="xs:string"/>
 <xs:element name="area" type="xs:string"/>
 <xs:element name="city" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
